body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5 {
  font-family: 'Playfair Display';
}
p, a {
  font-family: 'Inter';
}
:root {

    --footerColor: #FFFFFF;
    --backgroundLightColor: #FAF9F7;
    --backgroundColor: #F5F3EF;
    --buttonColor: #00AC66;
    --separatorColor: #A6A6A6;
    --textInfo: #292929;
    --textHover:#006D41;
}
.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.custom-container-1440 {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

/*navbar*/
nav.navbar.bg-light {
  background-color: var(--backgroundColor) !important;
  height: 80px;
}
.custom-container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-logo {
  height: 51px;
  width: 155px;
  object-fit: contain;
  margin-right: 50px;
  margin-left: 50px;
}
.navbar-nav .nav-link {
  height: 17px;
  line-height: 17px;
  padding-top: 0;
  padding-bottom: 0;
}
.nav-accueil {
  font-weight: bold;
}
.navbar-nav.mx-auto {
  gap: 30px;
  padding-left: 100px;
}
.vr.mx-3.d-none.d-lg-block{
    position: relative;
    left: 180px;
    height: 19px;
    border-left: 0.5px solid var(--separatorColor);
    opacity: 0.2;
    margin: 0 20px;
    align-self: center;
}
.icon-nav {
   margin-right: 5px;
}

/*homepage section 1*/
.homeOne{
    background-color: var(--backgroundColor);
}
.home{
  text-align: left;
}
.home h1{
  font-size: 2.25rem;
}
.home p{
  font-size: 1rem;
  margin-top: 20px;
}
.homeOne .row {
  margin-left: 230px;
}
.row.align-items-center {
    align-items: center;
}
.limited-width {
    max-width: 350px;
    font-size: 1rem;
    text-align: justify;
}
.btn-primary{
  background-color: var(--buttonColor) !important;
  border-color: var(--buttonColor) !important;
  margin-top: 10px;
}

.col-md-6 img{
  width: 404px;
  height: 539px;
}
.picturename{
  color: var(--separatorColor);
  font-size: 0.75rem;
   margin-left: 365px;
   margin-top: 5px;
}
.mb-6{
  margin-bottom: 4rem;
}

/*homepage section 2*/
.homeTwo {
  background-color: var(--backgroundLightColor);
}
.card {
  width: 200px;
  height: auto;
  overflow: visible;
  border-radius: 0 0 0.5rem 0.5rem;
  padding: 0 !important;
  min-height: 100%;
}
.card-img-top {
  height: 200px;
  object-fit: cover;
  margin: 0;
  border-radius: 0 !important;
  width: 100%;
  display: block;
}
.card-body {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
    border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.card-title {
  font-size: 16px;
}
.card-text {
  font-size: 14px;
  color: var(--separatorColor);
}
.card-sell{
  font-size: 10px;
  color: var(--separatorColor);
  padding-top: 20px;
}
.custom-button-reverse {
  transition: background-color 0.3s ease, color 0.3s ease;
}
.custom-button-reverse:hover {
  background-color: var(--textHover) !important;
  color: var(--backgroundColor) !important;
}
/*homepage section 3*/
.homeThree{
  background-color: var(--backgroundColor);
}
section.homeThree
.card-info{
  width: 215px;
  height: 139px;
  border-radius: 10px;
  background-color: var(--footerColor);
}
.card-text-info{
   color: var(--textInfo);
  font-size: 0.9rem;
  width: 180px;
  height: 51px;
  text-align: center;
}
.custom-button{
  background-color: var(--backgroundColor) !important;
  color: var(--buttonColor);
  font-size: 16px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.custom-button:hover {
  background-color: var(--textHover) !important;
  color: var(--backgroundColor) !important;
}
.custom-container-value{
  max-width: 392px !important;
  max-height: 304px !important;
  margin-bottom: 14rem;
}
.sign{
  color: var(--separatorColor);
  font-size: 0.75rem;
}
.custom-heart{
  margin-top: -35px;
  margin-right: -50px;
}

.row > .col-md-3:nth-child(4n+1) {
    clear: left;
}
.full-width-image {
  width: 100%; 
  height: auto;
  display: block;
}
/*book exchange*/
.availability-badge.unavailable {
    background-color: #C56D6D !important;
    color: #fff !important; 
    padding: 5px 10px;
    border-radius: 12px;
    font-size: 0.75rem;
    font-weight: bold;
}
/*Detailbook*/
.small-line {
    width: 27px;
    border-left: 1px solid var(--separatorColor);
}
.user-badge {
  display: flex;
  align-items: center;
  background-color: var(--footerColor);
  border-radius: 114px;
  padding: 6px 17px 6px 6px;
  width: 157px;
  height: 60px;
  box-sizing: border-box;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  text-decoration: none;
  color: inherit;
}
.avatar {
  width: 48px !important;
  height: 48px !important;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}
.username {
  width: auto;
  max-width: auto;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  margin-left: 12px;
}

/*formulaire*/
.fixed-size-image {
  width: 100% !important;
  height: 100vh !important; 
  object-fit: cover !important; 
  display: block !important;
}
/*my account*/
.profile-card {
  width: 547px;
  height: 508px;
  background: var(--footerColor);
  border-radius: 20px;
  text-align: center;
}
.profile-card small {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.7rem;
}
.library-icon {
  font-size: 1.2rem;
  vertical-align: middle;
  margin-right: 5px;
  color: #28a745;
}
.availability-badge.available {
  background-color: #d4edda;
  color: #155724;
  font-size: 0.8rem;
  padding: 0.25em 0.5em;
  border-radius: 1rem;
  text-transform: lowercase;
  user-select: none;
}
.availability-badge.unavailable {
  background-color: #f8d7da;
  color: #CB2D2D;
  font-size: 0.8rem;
  padding: 0.25em 0.5em;
  border-radius: 1rem;
  text-transform: lowercase;
  user-select: none;
}

.table tbody tr:nth-child(even) {
  background-color: #EDF2F6;
}

.table tbody tr:nth-child(odd) {
  background-color: #FFFFFF;
}
.form-control{
width: 322px;
height: 50px;
border-radius: 6px;
opacity: 1;
border-width: 1px;
border: 1px solid #F0F0F0;
background: #EDF2F6;
}

.form-global{
  align-items: center;
}

.section-title {
  width: 547px;
  text-align: left;
  margin-left: 200px;
}

.profile-section,
.form-section {
  width: 547px;
  height: 508px;
}

.profile-img {
  width: 135px;
  height: 135px;
  object-fit: cover;
}

.modifier-link {
  color: #A6A6A6;
  text-decoration: none;
}

.separator {
  width: 242px;
  border-bottom: 1px solid #F5F3EF;
}

.livre-icon {
  width: 10.41px;
  height: 13.71px;
}

.table-wrapper {
  width: 1140px;
  height: 579px;
  margin-left: auto;
  margin-right: auto;
}

.action-link {
  color: #292929;
  margin-right: 10px;
}

.action-link-delete {
  color: #C56D6D;
}




/*footer*/
footer.footer {
  font-size: 0.75rem;
  gap: 50px;
  display: flex;
  background-color: var(--footerColor)!important;
  height: 61px;
}

.footer-logo.img-fluid.mt-2.mt-lg-0 {
  height: 17.36px;
  width: 22px;
}

