body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5 {
  font-family: 'Playfair Display';
}
p, a {
  font-family: 'Inter';
}
:root {

    --footerColor: #FFFFFF;
    --backgroundLightColor: #FAF9F7;
    --backgroundColor: #F5F3EF;
    --buttonColor: #00AC66;
    --separatorColor: #A6A6A6;
    --textInfo: #292929;
    --textHover:#006D41;
}
.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.custom-container-1440 {
  max-width: 1440px;
  width: 100%;

  box-sizing: border-box;
}

/*navbar*/
nav.navbar.bg-light {
  background-color: var(--backgroundColor) !important;
  height: 80px;
}
.custom-container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-logo {
  height: 51px;
  width: 155px;
  object-fit: contain;
  margin-right: 50px;
  margin-left: 50px;
}
.navbar-nav .nav-link {
  height: 17px;
  line-height: 17px;
  padding-top: 0;
  padding-bottom: 0;
}
.nav-accueil {
  font-weight: bold;
}
.navbar-nav.mx-auto {
  gap: 30px;
  padding-left: 100px;
}
.vr.mx-3.d-none.d-lg-block{
    position: relative;
    left: 180px;
    height: 19px;
    border-left: 0.5px solid var(--separatorColor);
    opacity: 0.2;
    margin: 0 20px;
    align-self: center;
}
.icon-nav {
   margin-right: 5px;
}

/*homepage section 1*/
.homeOne{
    background-color: var(--backgroundColor);
}
.home{
  text-align: left;
}
.home h1{
  font-size: 2.25rem;
}
.home p{
  font-size: 1rem;
  margin-top: 20px;
}
.homeOne .row {
  margin-left: 230px;
}
.row.align-items-center {
    align-items: center;
}
.limited-width {
    max-width: 350px;
    font-size: 1rem;
    text-align: justify;
}
.btn-primary{
  background-color: var(--buttonColor) !important;
  border-color: var(--buttonColor) !important;
  margin-top: 10px;
}

.col-md-6 img{
  width: 404px;
  height: 539px;
}
.picturename{
  color: var(--separatorColor);
  font-size: 0.75rem;
   margin-left: 365px;
   margin-top: 5px;
}
.mb-6{
  margin-bottom: 4rem;
}

/*homepage section 2*/
.homeTwo {
  background-color: var(--backgroundLightColor);
}
.card {
  width: 200px;
  height: auto;
  overflow: visible;
  border-radius: 0 0 0.5rem 0.5rem;
  padding: 0 !important;
  min-height: 100%;
}
.card-img-top {
  height: 200px;
  object-fit: cover;
  margin: 0;
  border-radius: 0 !important;
  width: 100%;
  display: block;
}
.card-body {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
    border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.card-title {
  font-size: 16px;
}
.card-text {
  font-size: 14px;
  color: var(--separatorColor);
}
.card-sell{
  font-size: 10px;
  color: var(--separatorColor);
  padding-top: 20px;
}
.custom-button-reverse {
  transition: background-color 0.3s ease, color 0.3s ease;
}
.custom-button-reverse:hover {
  background-color: var(--textHover) !important;
  color: var(--backgroundColor) !important;
}
/*homepage section 3*/
.homeThree{
  background-color: var(--backgroundColor);
}
section.homeThree
.card-info{
  width: 215px;
  height: 139px;
  border-radius: 10px;
  background-color: var(--footerColor);
}
.card-text-info{
   color: var(--textInfo);
  font-size: 0.9rem;
  width: 180px;
  height: 51px;
  text-align: center;
}
.custom-button{
  background-color: var(--backgroundColor) !important;
  color: var(--buttonColor);
  font-size: 16px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.custom-button:hover {
  background-color: var(--textHover) !important;
  color: var(--backgroundColor) !important;
}
.custom-container-value{
  max-width: 392px !important;
  max-height: 304px !important;
  margin-bottom: 14rem;
}
.sign{
  color: var(--separatorColor);
  font-size: 0.75rem;
}
.custom-heart{
  margin-top: -35px;
  margin-right: -50px;
}

.row > .col-md-3:nth-child(4n+1) {
    clear: left;
}



/*footer*/
footer.footer {
  font-size: 0.75rem;
  gap: 50px;
  display: flex;
  background-color: var(--footerColor)!important;
  height: 61px;
}

.footer-logo.img-fluid.mt-2.mt-lg-0 {
  height: 17.36px;
  width: 22px;
}

